.dark-background {
	background-color: #2e080a;
  color: white;
	padding: 10px;
}

a, a:hover {
	text-decoration: none;
	color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.badge {
  background-color: #ffffff;
  color: black;
}
