.header {
  font-family: 'Black Ops One';
}

.dark-background {
	background-color: #372526;
  color: white;
}

.header-link, .header-link:hover {
  color: white;
}

a, a:hover {
	text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  height: 35px;
}

.badge {
  background-color: #ffffff;
  color: black;
}

.btn-watchList, .btn:first-child:hover {
  background-color: white;
  color: #372526;
}

.bg-danger {
  background-color: #aba1a1 !important;
  color: #372527 !important;
}

.profile-image {
  width: 50px;
  border-radius: 50%;
}

.dropdown-item:hover {
  color: #372526;
  background-color: #ffffff;
}

.logout-link, .logout-link:hover {
  color: #372526;
}

.user-profile {
  width: inherit;
  border: 2px solid #372526;
  padding: 2px;
}

.alert-warning {
  --bs-alert-color: #372526;
  --bs-alert-bg: #eee1e191;
  --bs-alert-border-color: #372526;
}
