.header {
  font-family: 'Black Ops One';
}

.dark-background {
	background-color: #372526;
  color: white;
}

a, a:hover {
	text-decoration: none;
	// color: white !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.badge {
  background-color: #ffffff;
  color: black;
}
